<!DOCTYPE html>
<html>

<head>
  <title>Report</title>
  <link rel="stylesheet" type="text/css" href="public/font-awesome-4/css/icons.css">
  <link rel="stylesheet" type="text/css" href="public/styles/supplier.css">
  <link rel="stylesheet" type="text/css" href="public/styles/css.css">
  <link rel="stylesheet" type="text/css" href="public/styles/main.css">
  <link rel="stylesheet" type="text/css" href="public/styles/front-awesome.css">
  <link rel="stylesheet" type="text/css" href="public/css/layoutt.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="public/js/jquery.min.js"></script>
  <script type="text/javascript" src="public/js/lib.js"></script>
  

  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=327486174683903&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

</head>

<body>



  <!-- navigation panel -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="product">PRODUCT</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="report">REPORT</a>

      </li>

      <li class="nav-item">
        <a class="nav-link" href="history">HISTORY</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="rate">RATE</a>
      </li>

    </ul>
    <div style="margin-left: 200px; ">
      <form class="form-inline my-2 my-lg-0" style="width:150%;">

        <input class="form-control mr-sm-2" type="text" id="myInput" onkeyup="myFunction()" placeholder="What are looking for.."
          title="Type in a name">

      </form>
      <ul class="profile-wrapper">
        <li>
          <!-- user profile -->
          <div class="profile">
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>

            <a href="" class=""></a>

            <!-- more menu -->
            <ul class="menu">
              <li><a href="#">Edit Profile</a></li>
              <li><a href="history">Interest History</a></li>
              <li><a href="history">Booking History</a></li>
              <li><a href="history">Provision History</a></li>
              <li><a href="/">Log out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </nav>
<!-- side menu -->
  <div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:130px; margin-top: -20px;">
 
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fade')">Daily Report</button>
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Left')">Weekly Report</button>
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Right')">Monthly Report</button>
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Top')">Annual Report</button>
   
  </div>
  
  <div style="margin-left:130px">
  
    <div id="Fade" class="w3-container city w3-animate-opacity" style="display:none">
      <h2>Daily Report</h2>
    </div>
  
    <div id="Left" class="w3-container city w3-animate-left" style="display:none">
      <h2>Weekly Report</h2>
    </div>
  
    <div id="Top" class="w3-container city w3-animate-top" style="display:none">
      <h2>Annual Report</h2>
    </div>
  
    <div id="Right" class="w3-container city w3-animate-right" style="display:none">
      <h2>Monthly Report</h2>
    </div>
  
    
  
  </div>
  
  <script>
  function openLink(evt, animName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(animName).style.display = "block";
    evt.currentTarget.className += " w3-red";
  }
  </script>
</body>
<!-- Footer -->
{{template "footer.html" .}}
</html>