<div class="container-fluid" id="footer">
  <div class="row">
      <!-- Social Media -->
     <div class="col-3"> 
        <a href="#" class="link footer_links" target="_blank">
        <i class="fab fa-facebook-f"></i>
        </a>
     </div>
     <!-- Website -->
     <div class="col-6"> 
        <a href="http://www.inteliplat.com" target="_blank" class="footer_links link">
        www.inteliplat.com
        </a>
     </div>
     <!-- Logo -->
     <div class="col-3"> <a href="http://www.inteliplat.com" target="_blank" class="link">
        <img class="img-fluid" id="footer_logo" src="public/img/home/inteliplat-trucks-and-lorries-for-hire-in-sri-lanka4.png"></a>
     </div>
  </div>
</div>